__pycache__
node_modules/
package-lock.json
yarn.lock

databases.xml
*.pyc
*.cpython-*
__pycache__/
__pycache__/*
__pycache__/commands.cpython-311.pyc
__pycache__/mongoHandler.cpython-311.pyc
__pycache__/parsing_syntax.cpython-311.pyc
__pycache__/mongoHandler.cpython-311.pyc
__pycache__/parsing_syntax.cpython-311.pyc
__pycache__/mongoHandler.cpython-311.pyc
__pycache__/mongoHandler.cpython-311.pyc

cli_prompt_history
sql_prompt_history

__pycache__
databases.xml
